@model IEnumerable<IdentitySample.Models.ApplicationRole>

@{
    ViewBag.Title = "Role";
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<h2>Manage Role</h2>

@if (TempData["notice"] != null)
{
    <div class="modal-notif">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p>@TempData["notice"]</p>
    </div>
}

<div class="panel-body ">
    @Html.ActionLink("Add new", "Create", "RolesAdmin", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary pull-right" })
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
        </th>
    </tr>
</table>

<div style="height:400px; overflow-y:scroll; overflow-x:hidden">
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td width="450px">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { data_modal = "" })
                    |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { data_modal = "" })
                </td>
            </tr>
        }
    </table>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
}
