@model IEnumerable<Ordering_System.Models.ItemModel>

@{
    ViewBag.Title = "Item";
    AjaxOptions options = new AjaxOptions
    {
        UpdateTargetId = "searchResult",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "divLoading"
    };
}

<!-- modal placeholder-->
<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

@if (TempData["notice"] != null)
{
    <div class="modal-notif">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p>@TempData["notice"]</p>
    </div>
}

<h1></h1>

@using (Ajax.BeginForm("Search", options))
{
    <div id="divLoading" style="color:red;width:200px;background-color:yellow;font-size:larger;display:none;position:absolute;">Loading ....</div>
    <div>
        @Html.TextBox("keyword")
        <button type="submit">Search</button>
    </div>
}
<div id="searchResult">
    <div class="panel-body ">
        @Html.ActionLink("Add new", "Create", "Item", null, new { data_modal = "", id = "btnCreate", @class = "btn btn-small btn-primary pull-right" })
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
     </table>

    <div style="height:400px; overflow-y:scroll; overflow-x:hidden">
        <table class="table">
        @foreach (var item in Model)
        { <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
              <td>
                  @Html.ActionLink("Edit", "Edit", new { id = item.ItemID }, new { data_modal = "" })
                  |
                  @Html.ActionLink("Delete", "Delete", new { id = item.ItemID }, new { data_modal = "" })
              </td>
        </tr>
        }

        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modalform")
}
